<div class="main">
  <br />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Find your Books
        </mat-panel-title>
        <!-- <mat-panel-description>
                Type your name and age
              </mat-panel-description> -->
      </mat-expansion-panel-header>
      <form #book="ngForm" (ngSubmit)="findbooks(book)">
        <mat-form-field>
          <input
            type="text"
            ngModel
            name="book_title"
            id="book_title"
            matInput
            placeholder="Name of Book"
          />
        </mat-form-field>
        <button mat-button type="submit">Search</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Listen to New Music
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #song="ngForm" (ngSubmit)="findsongs(song)">
        <mat-form-field>
          <input
            type="text"
            ngModel
            name="song_title"
            id="song_title"
            matInput
            placeholder="Name of Song"
          />
        </mat-form-field>
        <button mat-button type="submit">Search</button>
      </form>

      <form #artist="ngForm" (ngSubmit)="findartists(artist)">
        <mat-form-field>
          <input
            type="text"
            ngModel
            name="artist_title"
            id="artist_title"
            matInput
            placeholder="Name of Artist"
          />
        </mat-form-field>
        <button mat-button type="submit">Search</button>
      </form>
      <br />
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search better Movies
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #movie="ngForm" (ngSubmit)="findmovies(movie)">
        <mat-form-field>
          <input
            ngModel
            name="movie_title"
            id="movie_title"
            matInput
            placeholder="Name of Movie"
          />
        </mat-form-field>
        <button mat-button type="submit">Search</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
